@{
  ViewData["Title"] = "Login";
}

<div class="background">

<div class="container">
  <h1>Iniciar Sesión</h1>
  <form id="login-form" method="post" action='@Url.Action("CheckLogin", "Account")'>

    <label for="NombreUsuario">Nombre de Usuario:</label>
    <input type="text" name="Username" id="Username" placeholder="Usuario" required>

    <label for="Contraseña">Contraseña:</label>
    <input type="password" name="Contraseña" id="Contraseña" placeholder="Contraseña" required>

    <label for="Confirmar Contraseña">Confirmar Contraseña:</label>
    <input type="password" name="ConfirmarContraseña" id="ConfirmarContraseña" placeholder="Confirmar Contraseña"
      required>

    <button type="submit">Inicio de sesion</button>
  </form>
  <p><a href='@Url.Action("Registro", "Account")'>Eres Nuevo? Regístrate</a></p>
  <p><a href='@Url.Action("OlvideContraseña", "Account")'>Olvidé Mi Contraseña</a></p>
</div>
</div>

