@{
    ViewData["Title"] = "Login";
}


<div class="background">
    <div class="fondo"></div>
    <div class="fondo"></div>
</div>
<form action="Formulario de logeo" method="post">
    <h2>Iniciar Sesion</h3>

    <label for="NombreUsuario">Nombre de Usuario</label>
    <input type="text" name="Username" id="Username" placeholder="Usuario">

    <label for="Contraseña">Contraseña</label>
    <input type="password" name="Contraseña" id="Contraseña" placeholder="Contraseña">

<label for="Confirmar Contraseña">Confirmar Contraseña</label>
    <input type="password" name="ConfirmarContraseña" id="ConfirmarContraseña" placeholder="Confirmar Contraseña">

    <button type="submit">Enviar</button>
    <div class="olvidecontraseña">
      <div class="contraseña"><a href='@Url.Action("OlvideContraseña","Account")'><button>Olvide mi contraseña</button></a></div>
    </div>
    <div class="Registro">
      <div class="nuevo"><a href='@Url.Action("Registro","Account")'><button>¿Eres nuevo? Registrate</button></a></div>
    </div>
</form>