@{
    ViewData["Title"] = "Registro";
}

<div class="background">
 <div class="container">
    <h1>Registro del Usuario</h1>
    <form id="formregistro" method="post" action='@Url.Action("ValidarRegistroUsuario", "Account")'> 

    <label for="NombreUsuario">Nombre de Usuario:</label>
    <input type="text" name="Username" id="Username" placeholder="Usuario" required>

    <label for="password">Contraseña</label>
    <input type="password" name="Contraseña" id="Contraseña" placeholder="Contraseña" required>

<label for="Confirmar password">Confirmar Contraseña</label>
    <input type="password" name="ConfirmarContraseña" id="ConfirmarContraseña" placeholder="Confirmar Contraseña" required>

    <label for="Nombre">Nombre</label>
     <input type="text" name="Nombre" id="Nombre" placeholder="Nombre" required>

        <label for="Apellido">Apellido</label>
     <input type="text" name="Apellido" id="Apellido" placeholder="Apellido" required>

        <label for="Edad">Edad</label>
     <input type="number" name="Edad" id="Edad" placeholder="Edad" required>

       <label for="Telefono">Telefono</label>
     <input type="number" name="Telefono" id="Telefono" placeholder="Telefono" required>

        <label for="Email">Email</label>
     <input type="text" name="Email" id="Email" placeholder="Email" required>

    <button type="submit">Registrarse</button>
</form>
<p> ¿Ya tienes una cuenta? toca <a href='@Url.Action("Login", "Account")' >aqui</a>para iniciar sesion</p>
</div>
</div>