
@{
    ViewData["Title"] = "Registro";
}


<div class="background">
    <div class="fondo"></div>
    <div class="fondo"></div>
</div>
<form action="Formulario de Registro" method="post">
    <h2>Registrarse</h3>

    <label for="NombreUsuario">Nombre de Usuario</label>
    <input type="text" name="Username" id="Username" placeholder="Usuario">

    <label for="Contraseña">Contraseña</label>
    <input type="password" name="Contraseña" id="Contraseña" placeholder="Contraseña">

<label for="Confirmar Contraseña">Confirmar Contraseña</label>
    <input type="password" name="ConfirmarContraseña" id="ConfirmarContraseña" placeholder="Confirmar Contraseña">

    <label for="Nombre">Nombre</label>
     <input type="text" name="Nombre" id="Nombre" placeholder="Nombre">

        <label for="Apellido">Apellido</label>
     <input type="text" name="Apellido" id="Apellido" placeholder="Apellido">

        <label for="Edad">Edad</label>
     <input type="number" name="Edad" id="Edad" placeholder="Edad">

       <label for="Telefono">Telefono</label>
     <input type="number" name="Telefono" id="Telefono" placeholder="Telefono">

        <label for="Email">Email</label>
     <input type="text" name="Email" id="Email" placeholder="Email">

    <button type="submit">Registro</button>
</form>