@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Accede a este boton para logearte</h1>
    <p><a href='@Url.Action("Login","Account")'><button>Ir a Inicio de Sesion</button></a>.</p>
</div>
